.lds-dual-ring {
  display: inline-block;
  width: 20px;
  height: 20px;
  position: relative;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 12px;
  height: 12px;
  margin: 8px;
  border-radius: 50%;
  border: 3px solid #ff4500;
  border-color: #ff4500 transparent #ff4500 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
