.filter-container {
  height: 50px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 4px 36px 0 rgba(0, 0, 0, 0.04);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.filter-btn {
  width: 122px;
  padding: 13px 0;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.filter-btn button {
  border: none;
  background-color: transparent;
  margin-left: 8px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.36;
  color: #666;
}

.base-line {
  width: 122px;
  height: 2px;
  background-color: #ff4500;
  position: absolute;
  transition: left 0.2s linear;
}

.active-filter {
  filter: invert(35%) sepia(66%) saturate(4118%) hue-rotate(359deg)
    brightness(104%) contrast(111%);
  transition: filter 0.2s linear;
}

#searching > span {
  color: #ff4500;
  font-weight: 600;
}

/* NIGHT STYLES */
.night-f-c {
  background-color: #1f304c;
}

.night-filter-btn {
  color: #8891aa !important;
}

.night-searching {
  color: #f4f4f6;
}