.filter-container {
  height: 50px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 4px 36px 0 rgba(0, 0, 0, 0.04);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter-btn {
  width: 122px;
  padding: 13px 0;
  display: flex;
  justify-content: center;
  cursor: pointer;
  background-color: none;
    transition: background-color 0.3s ease-in;
}

.filter-btn:hover {
  background-color: #fff0eb;
  transition: background-color 0.3s ease-in;
}

.filter-btn button {
  border: none;
  background-color: transparent;
  margin-left: 8px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.36;
  color: #666;
}

.base-line {
  width: 122px;
  height: 2px;
  background-color: #ff4500;
  position: absolute;
  transition: left 0.2s linear;
}
