.single-post{
  border: 2px solid black;
  margin: 10px;
  padding: 5px;
}

.image {
  width: 300px;
  height: auto;
}

.image img {
  width: 100%;
}

h5 {
  color: red;
}

.selftext {
  color: blue;
}

.time {
  font-style: italic;
}

.show-more {
  color: red;
  border: none;
  cursor: pointer;
  background-color: transparent;
  font-size: 1rem;
}